# Field of blinkers (period-2 oscillator), alternating orientation,
# spaced so none of them ever touch each other.
rule=B3/S23
cell_size=12
speed_ms=150
edge=torus
PATTERN
..............................................................
..............................................................
..............................................................
...OOO..O....OOO..O....OOO..O....OOO..O....OOO..O....OOO..O...
........O.........O.........O.........O.........O.........O...
........O.........O.........O.........O.........O.........O...
..............................................................
..............................................................
...O....OOO..O....OOO..O....OOO..O....OOO..O....OOO..O....OOO.
...O.........O.........O.........O.........O.........O........
...O.........O.........O.........O.........O.........O........
..............................................................
..............................................................
...OOO..O....OOO..O....OOO..O....OOO..O....OOO..O....OOO..O...
........O.........O.........O.........O.........O.........O...
........O.........O.........O.........O.........O.........O...
..............................................................
..............................................................
...O....OOO..O....OOO..O....OOO..O....OOO..O....OOO..O....OOO.
...O.........O.........O.........O.........O.........O........
...O.........O.........O.........O.........O.........O........
..............................................................
..............................................................
...OOO..O....OOO..O....OOO..O....OOO..O....OOO..O....OOO..O...
........O.........O.........O.........O.........O.........O...
........O.........O.........O.........O.........O.........O...
..............................................................
..............................................................
...O....OOO..O....OOO..O....OOO..O....OOO..O....OOO..O....OOO.
...O.........O.........O.........O.........O.........O........
...O.........O.........O.........O.........O.........O........
..............................................................
..............................................................
...OOO..O....OOO..O....OOO..O....OOO..O....OOO..O....OOO..O...
........O.........O.........O.........O.........O.........O...
........O.........O.........O.........O.........O.........O...
..............................................................
