# Field of pulsars (the classic period-3 oscillator), spaced apart so
# they never interact with each other.
rule=B3/S23
cell_size=12
speed_ms=120
edge=torus
PATTERN
.........................................................
.........................................................
.........................................................
.....OOO...OOO........OOO...OOO........OOO...OOO.........
.........................................................
...O....O.O....O....O....O.O....O....O....O.O....O.......
...O....O.O....O....O....O.O....O....O....O.O....O.......
...O....O.O....O....O....O.O....O....O....O.O....O.......
.....OOO...OOO........OOO...OOO........OOO...OOO.........
.........................................................
.....OOO...OOO........OOO...OOO........OOO...OOO.........
...O....O.O....O....O....O.O....O....O....O.O....O.......
...O....O.O....O....O....O.O....O....O....O.O....O.......
...O....O.O....O....O....O.O....O....O....O.O....O.......
.........................................................
.....OOO...OOO........OOO...OOO........OOO...OOO.........
.........................................................
.........................................................
.........................................................
.........................................................
.....OOO...OOO........OOO...OOO........OOO...OOO.........
.........................................................
...O....O.O....O....O....O.O....O....O....O.O....O.......
...O....O.O....O....O....O.O....O....O....O.O....O.......
...O....O.O....O....O....O.O....O....O....O.O....O.......
.....OOO...OOO........OOO...OOO........OOO...OOO.........
.........................................................
.....OOO...OOO........OOO...OOO........OOO...OOO.........
...O....O.O....O....O....O.O....O....O....O.O....O.......
...O....O.O....O....O....O.O....O....O....O.O....O.......
...O....O.O....O....O....O.O....O....O....O.O....O.......
.........................................................
.....OOO...OOO........OOO...OOO........OOO...OOO.........
.........................................................
.........................................................
.........................................................
.........................................................
.........................................................
.........................................................
.........................................................
